{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

	<div style="padding-top:170px">

<!------ Include the above in your HEAD tag ---------->

<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->

    <div class="pdf-viewer-area mg-b-15">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
										<iframe src="/static/blogapp/media/{{ebook.ebook}}" width="100%" height="700px">
    </iframe>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									</div>
								</div>
							</div>
							
						</div>
</div>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
 {% endblock %}