{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h1 style="margin-top:150px">We provide the best <strong>strategy</strong><br>to grow up your <strong>Exam preparation</strong></h1>
                        
                       
						 <section class="mini" id="work-process" style="padding:11px">
						<div class="mini-content">
							<div class="container">
								<div class="row">
                                {% regroup classsubjects by classes as classes_list %}
				                {% for cls in classes_list %}
									<a href="/list/{{ cls.grouper|str2url }}" class="mini-box" style="margin-right:42px;padding:40px">
										<i><img src="/static/blogapp/media/{{cls.list.0.classes.image}}" alt=""></i>
										<strong>{{cls.grouper}}</strong>
										<!-- <span>Something</span>-->
									</a>
                                {% endfor %}
								
									
									</div>
								</div>
							</div>
							</section>
							
					
					</div>
                    
					<div class="col-lg-6 col-md-12 col-sm-12">
                    {% if not request.session.id %}
                    
                    
                        <div class="form-login">
							<h2>Login</h2>
                            <form action="" method="POST">{% csrf_token %}
                                <input type="text" id="userName" class="form-control input-sm chat-input" name="email" placeholder="Email" />
                                </br>
                                <input type="password" id="userPassword" class="form-control input-sm chat-input" name="password" placeholder="password" />
                                </br>
                                <div class="wrapper">
                                    <span class="group-btn">     
                                        <button type="submit" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
                                    </span>
                                    <span class="group-btn">     
                                        <a href="forgot_pass.html" class="btn btn-danger btn-md">Forgot Password <i class="fa fa-sign-in"></i></a>
                                    </span>
                                </div>
                            </form>
							</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    

    <!-- ***** Features Big Item Start ***** -->
    {% for data in speech %}
    
    {% if forloop.first %}
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="/static/blogapp/media/{{data.image}}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">{{data.title}}</h2>
                    </div>
                    <div class="left-text">
                        <p>{{data.speech}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    {% else %}
    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">{{data.title}}</h2>
                    </div>
                    <div class="left-text">
                        <p>{{data.speech}}</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="/static/blogapp/media/{{data.image}}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}
    <!-- ***** Features Big Item End ***** -->
<!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{view_counter.count}}</strong>
                            <span>Visitor</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>{{registerd_counter}}</strong>
                            <span>Registerd User</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{question_counter}}</strong>
                            <span>MCQ Question</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>{{written_counter}}</strong>
                            <span>Written Question</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   
    <!-- ***** Home Parallax Start ***** -->
     <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Some happy parents feedback</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                   
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                {% for massage in happy %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            
                            <p>{{massage.massage}}.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">{{massage.email}}</h3>
                                <span>{{massage.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->
    <!-- ***** Home Parallax End ***** -->

 


{% endblock %}