{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

    <!-- Top Teachers -->

	<div class="teachers">
	
		<div class="container">
		<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Board
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
							
							{% for board in question %}
								<center><li><a href="/prv-ques/{{board.year|str2url}}/{{board.board|str2url}}">{{board.board}}</a></li>
							{% endfor %}
							  
							  
							</ul>
						  </div>
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Choose Board First</h2>
				</div>
			</div>
			
		</div>
	</div>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Home Parallax End ***** -->
{% endblock %}