{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

    <!-- Top Teachers -->

	<div class="teachers">
	
		<div class="container">
		
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Choose your Subject</h2>
				</div>
			</div>
			<div class="row teachers_row">

				<!-- Instructor -->
				{% for subject in subject %}
					<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="images/instructor_4.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/prv-ques/{{subject.year_and_board.classes_on_year.classes.name|str2url}}/{{subject.year_and_board.classes_on_year.years|str2url}}/{{subject.year_and_board.board|str2url}}/{{subject.subject|str2url}}/">{{subject.subject}}</a></div>
							<!-- <div class="teacher_title">Teacher</div> -->
						</div>
					</div>
				</div>
				{% endfor %}
			
		</div>
	</div>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Home Parallax End ***** -->
{% endblock %}