{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	


    <!-- ***** Contact Us Start ***** -->
 	<div style="padding:170px 0px 100px">


	<div class="course">
		<div class="course_top"></div>
		<div class="course_bottom">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Panels -->
				<div class="col-lg-9">
					
					

					{% if questions.ques_type == "MCQ" %}	
						<center><div class="tab_panel description active">
						
							<div class="panel_title" style="font-size:25px">{{questions.title}} </div>
							
									
							<div class="panel_text">
								<form action="" method="POST">{% csrf_token %}
									<ul class="chec-radio">
										
											<li class="pz">
												<label class="radio-inline">
													<input type="radio" id="pro-chx-residential" name="ans_op_1" class="pro-chx" value="True">
													<div class="clab">{{questions.text_op_1}}</div>
												</label>
											</li>
											<li class="pz">
												<label class="radio-inline">
													<input type="radio" id="pro-chx-commercial" name="ans_op_2" class="pro-chx" value="True" >
													<div class="clab">{{questions.text_op_2}}</div>
												</label>
											</li>
											<li class="pz">
												<label class="radio-inline">
													<input type="radio" id="pro-chx-open" name="ans_op_3" class="pro-chx" value="True">
													<div class="clab">{{questions.text_op_3}}</div>
												</label>
											</li>
											<li class="pz">
												<label class="radio-inline">
													<input type="radio" id="pro-chx-close" name="ans_op_4" class="pro-chx" value="True">
													<div class="clab">{{questions.text_op_4}}</div>
												</label>
											</li>
											<li class="laps"></li>
											
									</ul>
									<button class="btn btn-primary" type="submit" onclick="pause()">Submit</button>
										</form>
							</div>
						</div>
						<br><br>
						{% elif questions.ques_type == "Multiple_MCQ" %}
						<div class="tab_panel description active">
						
							<div class="panel_title">{{questions.title}} </div>
							<div class="panel_text">
							
									
								<div class="qtoform">	
								<form action="" method="POST">{% csrf_token %}
									<ul class="chec-radio">
										<li class="pz">
											<label class="radio-inline">
												<input type="checkbox" id="cb1" name="ans_op_1"  value="True"/>
												<div class="clab">{{questions.text_op_1}}</div>		
											</label>
										</li>
										<li class="pz">
											<label class="radio-inline">
												<input type="checkbox" id="cb2" name="ans_op_2" class="pro-chx" value="True" />
												<div class="clab">{{questions.text_op_2}}</div>	
											</label>
										</li>
										<li class="pz">
											<label class="radio-inline">
												<input type="checkbox" id="cb3" name="ans_op_3" class="pro-chx" value="True"/>
												<div class="clab">{{questions.text_op_3}}</div>	
												
											</label>
										</li>
										<li class="pz">
											<label class="radio-inline">
												<input type="checkbox" id="cb4" name="ans_op_4" class="pro-chx" value="True"/>
												<div class="clab">{{questions.text_op_4}}</div>	
												
											</label>
										</li>
										<li class="laps"></li>
									</ul>
									
								<button class="btn btn-primary" type="submit" id="submit" onclick="pause()">Submit</button>
								</form>
							</div>
							</div>
						</div>
						<br><br>
						{% elif questions.ques_type == "text" %}
						<div class="tab_panel description active">
							<div class="panel_title">{{questions.title}}</div>
							<div class="panel_text">
								
									<div class="qtoform">
										<form action="" method="POST">{% csrf_token %}
										 <li class="laps"></li>
											<input type="text" name="direct_input_op" id="">	<br><br>				
											<button class="btn btn-primary" type="submit" onclick="pause()">Submit</button>
										</form>	
									</div>									 
							</div>				
						</div>
					{% endif %}
					
				</div>
				<div class="col-lg-3">
				{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<center><li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h4 style="color:green">{{ message }}</h4></li>
										{% endfor %}
											
									</ul>
									{% endif %}
				<div class="sidebar">
				<div class="sidebar_section features">
				<div class="sidebar_title">Taking Time</div>
				<div class="features_content">
					<!-- <div class="controls" >
						<button onclick="start()">Start</button>
						<button onclick="pause()">Pause</button>
						<button onclick="stop()">Stop</button>
						<button onclick="restart()">Restart</button>
						<button onclick="lap()">Lap</button>
						<button onclick="resetLaps()">Reset Laps</button>
					</div> -->
					
					<div class="stopwatch" style="font-size: 5em;font-family: monospace;">00:00:00</div>
					<ul class="laps"></ul>
					
					
				</div>	
				{% for mark2 in high_mark|slice:"1" %}		
					<h6>Highest mark in this chapter <p style="font-size:40px; color:green" >{{mark2.mark}}</p></h6>	
				{% endfor %}
				<h6>Your mark in this chapter <p style="font-size:40px; color:red" >{{mark2}}</p></h6>	
						
				</div>
					
				</div>
				</div>				
				</div>
					
				</div>
				

					</div>				
				</div>
				
				

			</div>
		</div>
		</div>
	</div>


	 </div>
    <!-- ***** Contact Us End ***** -->
{% endblock %}