{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

	<div style="padding-top:170px;padding-bottom:190px">

<!------ Include the above in your HEAD tag ---------->

<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->

	<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" >
						{% for question in questions_list|slice:"1" %}
						{% if question.ques_level == "Easy" %}
						<a href="/list/{{question.subjectchapter.classsubject.classes|str2url}}/{{question.subjectchapter.classsubject.subject|str2url}}/{{question.subjectchapter.chapter|str2url}}/{{question.ques_level|str2url}}/{{question.id}}" >
                            <div class="features-small-item" style="Background:Green">
                              
                                <h5 class="features-title"style="font-size:30px; color:white">Easy</h5>
                               
                            </div>
							</a>
							{% endif %}
						{% endfor %}
                        </div>
						

						
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
						{% for question in questions_list1|slice:"1" %}
						{% if question.ques_level == "Medium" %}
						<a href="/list/{{question.subjectchapter.classsubject.classes|str2url}}/{{question.subjectchapter.classsubject.subject|str2url}}/{{question.subjectchapter.chapter|str2url}}/{{question.ques_level|str2url}}/{{question.id}}">
                            <div class="features-small-item" style="Background:Yellow">
                              
                                <h5 class="features-title"style="font-size:30px; color:black">Medium</h5>
                               
                            </div>
							</a>
							{% endif %}
						{% endfor %}
                        </div>
						

						
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
						{% for question in questions_list2|slice:"1" %}
						{% if question.ques_level == "Hard" %}
						<a href="/list/{{question.subjectchapter.classsubject.classes|str2url}}/{{question.subjectchapter.classsubject.subject|str2url}}/{{question.subjectchapter.chapter|str2url}}/{{question.ques_level|str2url}}/{{question.id}}">
                            <div class="features-small-item" style="Background:Red">
                              
                                <h5 class="features-title"style="font-size:30px; color:white">Hard</h5>
                               
                            </div>
							</a>
							{% endif %}
						{% endfor %}
                        </div>
                        
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
</div>
    <!-- ***** Home Parallax End ***** -->

{% endblock %}
