{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	
	<div >

<!------ Include the above in your HEAD tag ---------->

<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->

<div class="container">
				
					
						<div class="form-login">
							<form method="POST">{% csrf_token %}
							<input type="text" id="userName" name="f_name" class="form-control input-sm chat-input" placeholder="First Name" />
							</br>
							<input type="text" id="userName" name="l_name" class="form-control input-sm chat-input" placeholder="Last Name" />
							</br>
							<input type="text" id="userName" name="date_of_birth" class="form-control input-sm chat-input" placeholder="Date of Birth" />
							</br>
							<input type="text" id="userName" name="mobile" class="form-control input-sm chat-input" placeholder="Phone No" />
							</br>
							<input type="text" id="userName" name="email" class="form-control input-sm chat-input" placeholder="Email" />
							</br>
							<input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
							</br>
							
							<div class="wrapper">
							<span class="group-btn">     
								<button type="submit" class="btn btn-primary btn-md">Register <i class="fa fa-sign-in"></i></button>
							</span>
							</div>
                            </form>
							</div>
					
				
			
		</div>
</div>
    <!-- ***** Home Parallax End ***** -->

  {% endblock %}