{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature" style="padding-top:350px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        {% for sub in subjects %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
						<a href="/list/{{sub.classes.name|str2url}}/{{sub.subject.name|str2url}}">
                            <div class="features-small-item">
                                <div class="teacher_image">
                                    <img style="height:69px" src="/static/blogapp/media/{{sub.subject.image}}" alt="">
                                </div>
                                <h5 class="features-title">{{sub.subject.name}}</h5>
                                {% comment %} <p>Customize anything in this template to fit your website needs</p> {% endcomment %}
                            </div>
							</a>
                        </div>
                        {% endfor %}
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% endblock %}