{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}

{% block content %}	

	<div style="padding-top:170px">

<!------ Include the above in your HEAD tag ---------->

<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->

<div class="container">
				<div class="row">
								{% for data in written_list %}
									<div class="col-sm-4" style="padding-bottom:20px">
									<ul>			
										<div class="teacher d-flex flex-row align-items-center justify-content-start">					
										<li><div class="teacher_title "><a  href="/Written/{{data.subjectchapter.classsubject.classes|str2url}}/{{data.subjectchapter.classsubject.subject|str2url}}/{{data.subjectchapter.chapter|str2url}}/{{data.id}}">Question ID-{{data.id}}</a></div></li>
										</div>
									<ul>
								</div>
								{% endfor %}
							
							
				</div>
			
		</div>
</div>
    <!-- ***** Home Parallax End ***** -->

{% endblock %}